/*
* @Author: Lizh
* @Date:   2018-05-27 13:00:08
* @Last Modified by:   Lizh
* @Last Modified time: 2018-05-27 13:54:22
*/
.btn-add{
	position: absolute;
	right: 15px;
	top: 12px;
}
.productStatus span{
	margin-right: 5px;
}
.oper{
	margin-right: 5px;
}
.form-inline{
	select{
		margin-right: 10px;
	}
	input{
		margin-right: 10px;
	}
}