/*
* @Author: Lizh
* @Date:   2018-05-28 20:33:13
* @Last Modified by:   Lizh
* @Last Modified time: 2018-05-31 01:16:57
*/
.page-header-right{
    position: absolute;
    right: 15px;
    top: 12px;
}
.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}
.opear{
    margin-right: 5px;
    cursor: pointer;
}
.navbar-header{
	position: relative;
	span{
		position: absolute;
		bottom: 5px;
		right: 8px;
		color: white;
		font-size: 14px;
	}
} 