/*
* @Author: Lizh
* @Date:   2018-05-28 20:33:13
* @Last Modified by:   Lizh
* @Last Modified time: 2018-05-28 23:11:11
*/
.page-header-right{
    position: absolute;
    right: 15px;
    top: 12px;
}
.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}
.opear{
    margin-right: 5px;
    cursor: pointer;
}