/*
* @Author: Lizh
* @Date:   2018-05-28 21:10:59
* @Last Modified by:   Lizh
* @Last Modified time: 2018-05-28 21:11:53
*/
.btn-send-goods{
    margin-left: 10px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}
